@import "./variables.scss";

@mixin mediamobile() {	
    @media screen and (max-width: map-get($breakpoints, mobile)){
        @content;
    }
}

body {
    margin: 0;
    font-family: 'Montserrat';
    font-size: 22px;
}

@each $name, $color in $colors {
    .text-#{$name} {
        color:  $color;
    }

    .background-#{$name} {
        background-color: $color;
        display: flex;
        flex-wrap: wrap;
    }
}

@media (max-width: map-get($breakpoints, mobile) ) {
    .hidden-mobile {
        display:  none;
    }
    .col-mobile-1 {
        width: 100%;
        margin-top: 2%;
    }
    .d-block {
        display: block;
    }

    .d-flex-column {
        display: flex;
        flex-direction: column;
    }
}

@media (min-width: map-get($breakpoints, desktop) ) {
    .hidden-desktop {
        display:  none;
    }
    .col-desktop-1 {
        width: 100%;
    }
    .col-desktop-2 {
        width: calc((100% - $gap) / 2);
    }
    .col-desktop-3 {
        width: calc((100% - $gap * 3) / 3);
    }
}
