.logementBody {
    padding: 30px;
}

.logement-details {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

@include mediamobile() {
        flex-direction: column;
    }
}

.hostLogement {    
    display: flex; 
    align-items: center;
    
    .hostLogementName {
        margin: 0;
        font-size: 1em; 
        margin-right: 1em;
        display: inline-block;
        width: 6.25em;
        text-align: right;
}
    img {
    border-radius: 50%;
    width: 1.88em; 
    height: 1.88em; 
}
}

.tagLogement {
    display: flex;
    
    .badge {
        padding: 10px;
        margin-right: 2%;
        border-radius: 20px;
        text-align: center;
        align-content: center;
    }
}

.starLogement {
   display: flex;
   gap: 5px;

.fa-star-inactive {
    color: lightgray;
}
}

.collapseWrapperLogement {
    display: flex;
    flex-direction: row;
    padding-top : 20px;
    justify-content: space-between;
    
    @include mediamobile() {
        font-size: 0.7em;
        gap: 15px;
        padding-top: 0;
    }

    .collapse-list-style-none {
        list-style: none;
    }
}

.first-block {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.second-block {
    display: flex;
    flex-wrap: wrap;
    align-items: end;
    flex-direction: column-reverse;
    justify-content: space-between;
    padding-top: 30px;
    padding-bottom: 20px;

}

@include mediamobile() {
    .first-block {
        h1 {
            font-size: 1em;
            margin-bottom: 0;
        }

        .locationLogement {
            font-size: 0.7em;
            font-weight: bold;
        }

        .tagLogement {
            padding-top: 10px;
            font-size: 0.7em;
            margin-right: 15px;
            flex-flow: wrap;
            gap: 10px;


            .badge {
                border-radius: 12px;
            }
        }
    } 
    .second-block {
        flex-direction: row;
    }
    .starLogement {
        font-size: 0.7em;
    }

    .hostLogement {
        font-size: 0.7em;
    }
}
