.error-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    align-items: center;
    color: RGB(255, 96, 96);

    a {
        color: black;
        margin-bottom: 8rem;
        font-size: 1rem;
    }
}

.error-code {
    font-size: 200px;
    font-weight: bold !important;
    margin-bottom: 30px; 
    margin-top: 30px;
}

@include mediamobile() {
    .error-code {
        font-size: 100px;
    }
    }

.error-message {
    text-align: center;
    margin-bottom: 100px;
    font-weight: bold !important;
}
