@import "/src/SASS/base/base.scss";

.container-banner-apropos {
    padding: 30px;
}

.container-CollapseApropos {
    display: flex;
    flex-direction: column;
    padding-left: 7em;
    padding-right: 7em;
    margin-top: 30px;
    margin-bottom: 40px;
    gap: 20px;

@include mediamobile() {
        padding-left: 30px;
        padding-right: 30px;
    }
}