.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 30px;

    &__nav {
        display: flex;
        gap: 20px;
        font-size: 18px;
    }
    &__nav a {
        text-decoration: none;
        color: black;
    }

    &__nav a.active {
        border-bottom: solid 1px black;
    }

} 

@include mediamobile() {
    .header {
        width: 100%;

        img {
            width: 20%;
        }

        nav {
            font-size: small;
            text-transform: uppercase;
            font-weight: bold;
        }
    }
}